*{
    margin: 0;
    padding: 0;
}

.header{
    height: 8vh;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    position: relative;
    width: 80%;
    left: 10%;
    right: 10%;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.lista-majte{
    height: inherit ;
}

.lista-majte li{
    text-align: center;
    padding-top: 12px;
    height: inherit;
    padding-right: 10px;
    padding-left: 10px;
}

.lista-majte li:hover{
    background-color: blue;
}

.icon{
    height: 50px;
    width: 50px;
}

.lista-djatht{
    height: 50%;

}

.lista-djatht li{
    color: white;
    background-color: blue;
    padding: 0px 10px;
}

.lista-djatht li:hover{
    background-color: lightblue;
}

.header ul{
    list-style-type: none;
    display: flex;
}

.left-side{
    display: flex;
}